[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"

[packages]
pytest = "*"
pytest-xdist = "*"
pyyaml = "*"
infr-scripts-py = {path = "../infr_scripts_py",editable = true}

[requires]
python_version = "3.7"
